<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD5vIV_-BkCJF4l3HKqtFx6erF0hqQqsU</string>
	<key>GCM_SENDER_ID</key>
	<string>97474485241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abc.assignment-firebase-zunaied</string>
	<key>PROJECT_ID</key>
	<string>cse-3218-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>cse-3218-assignment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97474485241:ios:6b9020378f17f8b4893b28</string>
</dict>
</plist>